{% extends 'base.html' %}
{% block content %}
<h2>Edit Credential</h2>
<form method="POST">
  <div class="mb-3">
    <input type="text" name="username" class="form-control" placeholder="New Username" required>
  </div>
  <div class="mb-3">
    <input type="text" name="credential_name" class="form-control" placeholder="New Credential Name" required>
  </div>
  <div class="mb-3">
    <input type="text" name="address" class="form-control" placeholder="New Address" required>
  </div>
  <div class="mb-3">
    <input type="text" name="password" class="form-control" placeholder="New Password" required>
  </div>
  <button type="submit" class="btn btn-primary">Update</button>
</form>
{% endblock %}
